html,
body {
  height: 100%;
  margin: 0;
}

.full-height {
  height: 100%;
  background: yellow;
}

input {
  padding: 14.8px;
  color: rgb(255, 255, 255);
  font-size: 1em;
  cursor: pointer;
  width: 70px;
  background-color: rgb(81, 85, 84);
  border: none;
  outline: none;
  border-radius: 4px;
}

.first-row,
.second-row,
.third-row,
.fourth-row,
.fifth-row {
  margin-bottom: 3px;
}
ul li {
  cursor: pointer;
}
input.result {
  background-color: rgb(81, 85, 84);
  width: 218px;
}
input[type="button"]:hover {
  background-color: rgb(160, 160, 160);
  color: #fff;
}
#clear {
  color: #fff;
  background-color: rgb(255, 42, 42);
}

a {
  text-decoration: none;
  border: none;
  padding: 8px;
  margin: 2px;
  border-radius: 4px;
  font-size: 0.8em;
  font-weight: 200;
}
.fab {
  font-size: 1.1em;
}

.order-container {
  top: 0px;
  width: 100%;
  height: 100%;
  background: white;
  flex-grow: 1;
  overflow: hidden;
  overflow-y: auto;
}
.order {
  background: white;
  padding-bottom: 8px;
  padding-top: 8px;
  font-size: 16px;
  text-align: left;
  max-width: 500px;
  -webkit-transform: translate3d(0, 0, 0);
}
ul {
  padding: 0;
  margin: 0;
}
.order .orderline .product-name {
  padding: 0;
  display: inline-block;
  font-weight: bold;
  width: 40%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.order .orderline {
  width: 100%;
  margin: 0px;
  padding-top: 3px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background 250ms ease-in-out;
  -moz-transition: background 250ms ease-in-out;
  transition: background 250ms ease-in-out;
}
.order .orderline .price {
  padding: 0;
  font-weight: bold;
  float: right;
}
order .orderline .info-list {
  color: #888;
  margin-left: 10px;
}
li {
  list-style-type: none;
}
.order .orderline .info-list em {
  color: #777;
  font-weight: bold;
  font-style: normal;
}
.order .summary {
  width: 100%;
  text-align: right;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}
.order .summary .line {
  float: right;
  margin-right: 15px;
  margin-left: 15px;
  padding-top: 5px;
  border-top: solid 2px;
  border-color: #777;
}
.order .summary .total {
  font-size: 22px;
}
.order .summary .line .subentry {
  font-size: 16px;
  font-weight: normal;
  text-align: center;
}
/*Bill CSS*/
.pos-receipt-container {
  flex: 0 1 400px;
  overflow: auto;
}
.pos-receipt-container > div {
  text-align: left;
  width: 300px;
  background-color: white;
  margin: 20px;
  padding: 15px;
  font-size: 16px;
  padding-bottom: 30px;
  display: inline-block;
  border: solid 1px rgb(220, 220, 220);
  border-radius: 3px;
  overflow: hidden;
}
.pos-receipt .pos-receipt-contact {
  text-align: center;
  font-size: 75%;
}
.pos-receipt .pos-receipt-left-padding {
  padding-left: 2em;
}
.pos-receipt .pos-receipt-right-align {
  float: right;
}
.pos-receipt .pos-receipt-left-padding {
  padding-left: 2em;
}
.pos-receipt .pos-receipt-amount {
  font-size: 125%;
  padding-left: 6em;
}
.pos-receipt .pos-receipt-order-data {
  text-align: center;
  font-size: 75%;
}
.default-view {
  display: flex;
  overflow: hidden;
  margin-left: 40px;
}
/*Print receipt CSS*/
.default-view .actions {
  flex: 1;
  margin: 0 1.5rem;
}
.default-view .actions h1 {
  font-size: 1.5rem;
  margin-bottom: 4rem;
}
.default-view .actions .buttons .button {
  flex: 1;
  border: solid 1px rgb(209, 209, 209);
  padding: 1rem;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  background: rgb(230, 230, 230);
}
.default-view .actions .send-email {
  display: flex;
}
.default-view .actions .send-email .email-icon {
  padding: 1rem;
  border: solid 1px rgb(209, 209, 209);
  border-right: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.default-view .actions .send-email .input-email {
  display: flex;
  flex: 1;
  background: white;
  border: solid 1px rgb(209, 209, 209);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.default-view .actions .send-email input {
  flex: 1;
  padding-left: 1rem;
  border: none;
  color: #555555;
}
.default-view .actions .send-email button.send.highlight {
  color: white;
  background-color: #6ec89b;
}
.default-view .actions .send-email button.send {
  padding: 1rem 40px;
  margin: 2px;
  border: none;
  background: rgb(230, 230, 230);
}
.default-view .actions * {
  font-size: 1rem;
}
