.screen-content {
  position: relative;
  margin: 0px auto;
  max-width: 1024px;
  text-align: left;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.main-content {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  overflow-y: auto;
}
.left-content {
  max-width: 34%;
}
.left-content {
  overflow-x: hidden;
  overflow-y: auto;
  border-right: dashed 1px rgb(215, 215, 215);
  flex-grow: 1;
  min-width: 200px;
}
.right-content {
  overflow-x: hidden;
  overflow-y: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.paymentlines-container {
  padding: 16px;
  padding-top: 0;
  border-bottom: dashed 1px gainsboro;
  min-height: 154px;
}
.paymentlines-empty .message {
  text-align: center;
}
.paymentlines-empty .total {
  text-align: center;
  padding: 24px 0px 18px;
  font-size: 64px;
  color: #43996e;
  text-shadow: 0px 2px white, 0px 2px 2px rgb(0 0 0 / 27%);
}
.paymentlines-empty .message {
  text-align: center;
}
.paymentlines {
  border-spacing: 0px 10px;
  border-collapse: inherit;
  margin: 16px;
}
.paymentmethods {
  margin: 16px;
  display: flex;
  flex-wrap: wrap;
}
.paymentmethods .button:first-child {
  border-top-width: 1px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.paymentmethods .button {
  background: #e2e2e2;
  line-height: 74px;
  font-size: 16px;
  border: solid 1px rgb(202, 202, 202);
  border-top-width: 0px;
  cursor: pointer;
}
.paymentmethod {
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
  flex-grow: 1;
  flex-basis: 100%;
}
.paymentmethod .payment-name {
  flex-grow: 1;
  margin-left: 10px;
  margin-right: 10px;
}
.paymentmethods .button {
  background: #e2e2e2;
  line-height: 74px;
  font-size: 16px;
  border: solid 1px rgb(202, 202, 202);
  border-top-width: 0px;
  cursor: pointer;
}
.paymentmethod {
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
  flex-grow: 1;
  flex-basis: 100%;
}
.payment-buttons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.payment-numpad {
  box-sizing: border-box;
  margin: 16px;
  text-align: center;
  flex-grow: 1;
}
.payment-numpad .numpad {
  border-radius: 4px;
  border-top: 1px solid;
  border-left: 1px solid;
  border-color: #cacaca;
  width: 296px;
  height: 100%;
  margin: auto;
}
.payment-numpad .numpad button:first-child {
  border-top-left-radius: 4px;
}
.payment-numpad .numpad button {
  width: 74px;
  height: 74px;
}
.numpad button {
  float: left;
  height: 54px;
  width: 54px;
  font-weight: bold;
  vertical-align: middle;
  color: #555555;
  border-radius: 0;
  border: none;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: #bfbfbf;
  transition: all 150ms linear;
}
.payment-numpad .numpad button {
  width: 74px;
  height: 74px;
}
section {
  display: block;
}
.numpad button:nth-child(4) {
  border-top-right-radius: 4px;
}
.mode-button {
  font-size: 14px;
}
.top-content {
  height: 64px;
  border-bottom: dashed 1px rgb(215, 215, 215);
  text-align: center;
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
}
.top-content .button {
  line-height: 32px;
  padding: 3px 13px;
  font-size: 20px;
  background: rgb(230, 230, 230);
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 6px;
  margin-right: 6px;
  border-radius: 3px;
  border: solid 1px rgb(209, 209, 209);
  cursor: pointer;
  transition: all 150ms linear;
}
.top-content .top-content-center {
  flex-grow: 1;
}
.top-content .button {
  line-height: 32px;
  padding: 3px 13px;
  font-size: 20px;
  background: rgb(230, 230, 230);
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 6px;
  margin-right: 6px;
  border-radius: 3px;
  border: solid 1px rgb(209, 209, 209);
  cursor: pointer;
  transition: all 150ms linear;
}
.payment-status-container {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  padding-top: 15px;
}
.payment-status-container .label {
  padding-right: 7px;
}
.payment-status-total-due {
  font-size: 17px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #5c5c5cd1;
}
.payment-status-container .amount.highlight {
  font-weight: bold;
  color: #6ec89b;
}
.paymentline {
  background: #e2e2e2;
  line-height: 74px;
  font-size: 16px;
  border: solid 1px rgb(202, 202, 202);
  border-top-width: 0px;
  cursor: pointer;
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
  flex-grow: 1;
  flex-basis: 100%;
}
.paymentlines {
  border-spacing: 0px 10px;
  border-collapse: inherit;
  margin: 16px;
}
.paymentlines .paymentline:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.paymentlines .paymentline:first-child {
  border-top-width: 1px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.paymentline.selected {
  background: white;
}
.paymentline .delete-button {
  margin-left: 10px;
  margin-right: 10px;
}
.paymentline .payment-name {
  flex-grow: 1;
  margin-left: 10px;
  margin-right: 10px;
}
.paymentline .payment-amount {
  margin-left: 10px;
  margin-right: 10px;
}
.payment-status-container .amount.highlight {
  font-weight: bold;
  color: #6ec89b;
}
